.footer p{
    display: inline;
    font-size: 20px;
    padding-left: 0px;
}

.contact{
    font-weight: bold;
    color: mediumvioletred;
    padding-right: 10px;
}

.footer{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-right: 0px;
    padding-left: 40px;
}
